body {
    background: rgba(95, 81, 213, 0.41);
}
.animation{
    width: 180px;
    height: 180px;
    background: #77c1c1;
    border-radius: 50%;
    border: 100px solid #aa00ff;
    margin: 200px auto 0 auto;
    animation: circle 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e3e2e2;
    font-size: 30px;
    font-family: "Fjalla One", sans-serif;
}
@keyframes  circle{
    from{
        transform: scale(1);
    }
    25%{
        transform: scale(2) rotate(45deg);
        border: 20px solid #1100ff;
    }
    50%{
        transform: scale(1.5);
        border-radius: 5%;
    }
    75%{
        transform: scale(1) rotate(-45deg);
        border: 20px solid #00ff0d;
    }
    to{
        transform: scale(1.7);

    }
}