*{
    margin: 0;
    padding: 0;
}
section{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-family: Arial, sans-serif;
}
.top{
    background-color: palevioletred;
}
section p{
    width: 70%;
}
.bottom{
    background-color: #0a0a27;
    color: #e3e2e2;
}